#bg-pg2{
    background: linear-gradient(to bottom right,#FFFFFF, #75D76B);
    height: 100%;

}

header {
    height: 165px;
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #C99BDE, #7A5C89 );
}

.logo-fitur{
    position: absolute;
    top: 0px;
    left: 10vh;
}

.navigasi {
    width: 1100px;
    margin: auto;
    position: relative;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 200px;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

a.tombol-putih {
    background: white;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 25px 10px 25px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}

a.tombol-putih:hover {
    background: white;
    opacity: 0.9;
    text-decoration: none;
}

a.tombol-aktif {
    background: white;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    border: 2px solid black;
    color: #833DCE;
}

a.tombol-aktif:hover {
    opacity: 0.8;
    text-decoration:none;
}
