* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    background: #D0EDCD url('../images/Path.png') top right no-repeat;
}

.navigasi {
    width: 1100px;
    margin: auto;
    position: relative;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 200px;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo  {
    position: absolute;
    top: 60px;
    left: 30px;
}

h2 {
    clear: both;
    font-size: 35px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: black; 
    margin-bottom: 20px;
    width: 100%;
    line-height: 30px;
}

p {
    text-align: left;
    margin: 5px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    color: #8E39D7;
    font-weight: 500;
    font-size: 18px;
}

a.tombol-putih {
    background: white;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 25px 10px 25px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}

a.tombol-putih:hover {
    background: #afdfaa;
    text-decoration: none;
}

a.tombol-hitam {
    position: absolute;
    top: 300px;
    border-radius: 40px;
    margin-top: 20px;
    padding: 5px 50px 5px 50px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    border: 2px solid black;
}

a.tombol-hitam:hover {
    background: #d592f2;
    text-decoration: none;
}

.elemen {
    width: 50%;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin: 0 auto; 
    left: 600px;
}

.elemen img {
    width: 100%;
}
